:root
{
    --clr-primary-000: #fff;
    --clr-btnhover-800: #2c3e50;
    --clr-accent-900: rgb(61, 58, 58);
}

*,
*::before,
*::after
{
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    margin: 0;
    height: 100%;
}

form
{
    width: 100%
}

h1
{
    text-align: left;
}

label 
{
    margin: .5%;
}

input 
{
    margin: .5%;
}

.form-wrap
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.button-wrap
{
    display: inline-flex;
    width: 100%;
}

input[type="text"] 
{
    display: flex;

}

input[type="text"]
{
    display: inline-flex;
}

input[type="password"] 
{
    display: inline-flex;
}

label[for="gender"] 
{
    display: flex;

}

input[type="radio"]
{
    margin-right: 0;
}

/* SUBMIT BUTTON */

input[for="submit"] 
{
    width: 5%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--clr-primary-000);
    border-style:solid;
    border-radius: 1.5rem;
    display: block;
    color: var(--clr-accent-900);
    transition: .5s;
    
}

input[for="submit"]:hover 
{
    background-color:var(--clr-btnhover-800);
    color: var(--clr-primary-000);
}

input[for="submit"]:hover, 
input[for="submit"]:focus 
{
    outline: none;
}

/* RESET BUTTON */

input[for="reset"] 
{
    width: 5%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--clr-primary-000);
    border-style:solid;
    border-radius: 1.5rem;
    display: block;
    color: var(--clr-accent-900);
    transition: .5s;
}

input[for="reset"]:hover 
{
    background-color: var(--clr-btnhover-800);
    color: var(--clr-primary-000);
}

input[for="reset"]:hover, 
input[for="reset"]:focus 
{
    outline: none;
}






